html {
  font-size: 12px;
}

body {
  overflow-y: scroll;
  /*font-size: 12px;*/
}

.react-root {
  vertical-align: top;
  position: relative;
  height: 100vh;
}

.map {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

a {
	color: #fff;
}

a:hover {
	color: #cacaca !important;
	transition: color 250ms;
}
.hidden * {
  opacity: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.visibile {
  opacity: 1;
  height: 300px;
}

.hide {
  display: none;
}

.strike {
	stroke: #fff;
  fill: #f00;
  stroke-opacity: 1;
  fill-opacity: 0.35;
}

.strike:hover {
	stroke: #fff;
	fill: #f00;
	stroke-opacity: 1;
	fill-opacity: 0.5;
}

.active-strike {
	stroke: #FAA;
	fill: #FAA;
}

.strike-info-box {
  position: absolute;
  top: 0;
  left: 40px;
  bottom: initial;
  right: initial;
  padding: 0 30px 30px 15px;
  width: auto;
  border: none;
  background: none;
  font-family: 'Roboto Slab', serif;
}

.marker-name {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  line-height: 0.9;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66);
  border-color: #fff;
  border: solid;
  border-width: 0 0 2px 0;

}

.marker-info {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 30px 0 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66);
}

.strike-date,
.strike-count {
  margin-top: 10px;
}

.strike-summary {
  width: 40%;
  line-height: 1.25;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
  padding: 10px 15px;
  font-size: 1.25rem;
}

.marker-label {
  font-size: 1rem;
  font-weight: 300;
}

.title-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 10000;
  cursor: pointer;
}

.title-screen h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 6vw;
  color: #fff;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html {
    font-size: 14px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html {
    font-size: 16px;
  }
}
